* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* common */
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

/* header  */
.header .fixed {
  position: sticky;
  padding-top: -44px;
}

.header .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 52px 0 8px;
}

.nav .navbar {
  display: flex;
}

.nav .navbar a {
  padding: 8px 19px;
  font-size: 1.6rem;
  color: #2f3a3b;
}

.nav .navbar a:hover {
  font-weight: 600;
  text-decoration: underline;
}

.header .nav-btn {
  display: flex;
  line-height: 48px;
}

.nav-btn a {
  padding: 8px 24px;
  font-size: 16px;
  color: #494949;
}

.nav-btn .signup {
  border: 1px solid #1ebfc1;
  border-radius: 6px;
}

.nav-btn .signup a {
  color: #1ebfc1;
}

/* hero */
.hero {
  margin-top: 42px;
  display: flex;
  gap: 71px;
}

.hero .hero-left {
  width: 49%;
}

.hero-left .text-content {
  margin-top: 93px;
}

.hero-left h1 {
  margin-top: 18px;
  font-weight: 700;
  font-size: 6.2rem;
  line-height: 1.16;
  color: #0d1111;
}

.hero-left .desc {
  margin-top: 46px;
  max-width: 360px;
  font-size: 1.8rem;
  line-height: 1.8;
  color: #9da6a5;
}

.hero-left .btn-play {
  display: flex;
  align-items: center;
  margin-top: 52px;
}

.hero-left .btn-hero {
  padding: 20px 41px 21px;
  background: #1ebfc1;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
  border-radius: 14px;
}

.hero-left .btn-hero a {
  font-weight: 600;
  color: #ffffff;
}

.hero-left .watch-video {
  margin-left: 50px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.05);
}

.hero-left img {
  padding: 22px 24px;
}

.hero .hero-right {
  position: relative;
  width: 51%;
}

.hero-right .avatar-hero {
  right: auto;
  width: 576px;
  height: 631px;
  object-fit: cover;
  border-radius: 20px;
}

.group-card .card {
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 12px 80px rgba(0, 0, 0, 0.05);
}

.group-card .title {
  max-width: 53px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: #0d1111;
}

.group-card .card-1 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 157px;
  height: 75px;
  left: -70px;
  bottom: 407px;
  border-radius: 18px;
}

.group-card .card-1 .book {
  position: relative;
  width: 36px;
  height: 40px;
  margin: 17px 16px 18px 25px;
}

.group-card .card-1 .book-div {
  position: absolute;
  margin: 20px 73px 0 0;
  width: 28px;
  height: 4px;
  background: #ffffff;
  border-radius: 4px;
}

.group-card .card-2 {
  box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
  width: 124px;
  height: 132px;
  left: -65px;
  bottom: 47px;
}

.card-2 .title {
  margin: 16px 35px 16px 36px;
}

.rectangle {
  width: 74px;
  height: 6px;
  margin: 0 25px;
}

.group-card .card-3 {
  width: 207px;
  height: 90px;
  box-shadow: 0px 12px 80px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
  right: 45px;
  bottom: 41px;
}

.group-card .card-3 .title {
  max-width: 100px;
  margin: 17px 32px 8px 35px;
}

.card-3 .group-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.group-card .card-3 .active {
  margin-left: -10px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  object-fit: cover;
}

.group-card .card-3 .active:last-child {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: #ffffff;
  background: #1ebfc1;
}

/* features  */

.features {
  margin-top: 130px;
}

.features .text-first {
  display: block;
  max-width: 591px;
}

.features .text h2 {
  margin-top: 18px;
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 1.33;
  color: #0d1111;
}

.features .text p {
  margin-top: 18px;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #767e7e;
}

.features .section {
  margin-top: 80px;
  display: flex;
  gap: 200px;
}

.features .section .group {
  width: 223px;
  height: 259px;
}

.features .section .icon {
  width: 102px;
  height: 106px;
}

.features .section h3 {
  margin-top: 26px;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.5;
  color: #0d1111;
}

.features .section p {
  margin-top: 16px;
  font-size: 1.6rem;
  line-height: 1.68;
  color: #9da6a5;
}

/* courses*/
.features .courses {
  margin-top: 130px;
}

.features .courses p {
  max-width: 512px;
  margin-top: 19px;
}

.features .courses .view {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features .courses .view a {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #1ebfc1;
}
